      
         .bd{
             margin: 0;
             padding:0;
             box-sizing: border-box;
         } 
         .nav{
             height:15vh;
             background-color: black;
             color: white;
             
         }
         .van{
             background-color: red;
         }
        
         
         .navlinks{
             display:flex;
             align-items: center;
             justify-content: space-around;
             list-style: none;
             width: 50%;
             height:100%;
             margin-left: auto;
         }
         .landing{
             text-align: center;
         }
         .page{
             text-align: right;
         }
         
         @media (max-width:360px){
             .line{
                 width: 30px;
                 height:5px;
                 margin: 5px;
                 background:white;
                 border-radius: 5px;
             }
             .nav{
                 position: relative;
             }
           
             .hamburger{
                 position: absolute;
                 cursor: pointer;
                 right:4%;
                 top:25%;
                 z-index: 2;
             }
             .navlinks{
                 position: fixed;
                 background-color: black;
                 height:100vh;
                 width:100%;
                 flex-direction: column;
                 clip-path: circle(100px at 90% -20%);
                 -webkit-clip-path: circle(100px at 90%-20%);
                 transition: all 1s ease-out;
             }
             .navlinks.open{
                 background-color: red;
               clip-path: circle(700px at 90%-10%); 
               -webkit-clip-path: circle (700px at 90%-10%);
             }
             
             .line.animate:nth-child(1){
                 transform: rotate(135deg);
                 
                 
             }
             .line.animate:nth-child(2){
                 opacity: 0;
             }
             .line.animate:nth-child(3){
                 transform:rotate(135deg);
             }
            
            
         }     
             
